@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body { /* Permet de désactiver le scrolling horizontal en dégageant les côtés */
  max-width: 100%;
  overflow-x: hidden;
}

.hidden {
  display: hidden;
}

@font-face {
  font-family: helvetica_medium;
  src: url("/asset/fonts/helvetica_neue_medium_extended.otf");
}
@font-face {
  font-family: helvetica_ultralight;
  src: url("/asset/fonts/helvetica_neue_ultralight.otf");
}
@font-face {
  font-family: agatho_light;
  src: url("/asset/fonts/agatho_light.otf");
}
@font-face {
  font-family: agatho_narrow;
  src: url("/asset/fonts/agatho_narrow.otf");
}
/*
$link-color: #00a29b;
$link-hover-color: #00746b;
*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(129, 255, 249, 0.1568627451);
  margin-bottom: 10px;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  margin: 0 10px 0 10px;
}
header nav ul li a:link, header nav ul li a:visited {
  color: #00a29b;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #00746b;
  text-decoration: none;
}
header nav ul li a:active {
  color: #00a29b;
  text-decoration: none;
}

.containerVideo {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  margin-bottom: 50px;
}

.containerStart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerStart .containerPhoto {
  background: rgba(0, 162, 154, 0.5098039216);
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 100%;
}
.containerStart .containerPhoto .imgProfil {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 5px;
}
.containerStart .rectanglePres {
  background: #00A29B;
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
}
.containerStart .rectanglePres p {
  color: #fff;
  margin: 5px;
  text-align: center;
  margin-left: 35px;
  margin-right: 20px;
}

.title .prenom {
  font-family: agatho_light;
  font-size: 150px;
  margin-left: 30px;
}
.title .nom {
  font-family: agatho_narrow;
  font-size: 150px;
}
.title .dev {
  font-family: helvetica_medium;
  font-size: 150px;
  color: rgba(0, 162, 154, 0.5019607843);
  margin-left: 300px;
}
.title .web {
  font-family: helvetica_ultralight;
  font-size: 150px;
  color: #0994BA;
}

.containerRectangleDiago {
  position: relative;
  background: red;
}
.containerRectangleDiago .rectangleDiago {
  width: 2500px;
  height: 150px;
  background: rgba(0, 162, 154, 0.1647058824);
  transform: rotate(-24deg);
  position: absolute;
  top: -500px;
  left: -250px;
}

.rectangleSelec {
  background: rgba(0, 162, 154, 0.1647058824);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.rectangleSelec h2 {
  text-align: center;
  font-family: helvetica_medium;
  font-size: 30px;
  margin-top: 15px;
}

.selecHomeRea, .Rea1, .Rea2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.selecHomeRea img, .Rea1 img, .Rea2 img {
  border: #000 1px solid;
  margin-top: 40px;
  width: 490px;
  height: 284px;
}

.knowMoreTitle, .containerRea2 .titleRea2, .containerRea1 .titleRea1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 162, 154, 0.1647058824);
  margin-top: 100px;
  width: 45%;
  height: 60px;
  border-radius: 36px;
}
.knowMoreTitle h2, .containerRea2 .titleRea2 h2, .containerRea1 .titleRea1 h2 {
  text-align: center;
  font-size: 25px;
  font-family: helvetica_medium;
  margin-top: 15px;
}

.knowMoreContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.knowMoreContainer a:link, .knowMoreContainer a:visited {
  color: #000;
  text-decoration: none;
}
.knowMoreContainer a:hover {
  color: #00746b;
  text-decoration: none;
}
.knowMoreContainer a:active {
  color: #00a29b;
  text-decoration: none;
}
.knowMoreContainer a .cv {
  width: 400px;
  height: 200px;
  background-color: rgba(0, 162, 154, 0.1647058824);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5764705882));
}
.knowMoreContainer a .cv .horizontal {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.knowMoreContainer a .cv .horizontal svg {
  filter: none;
  margin-top: 5px;
}
.knowMoreContainer a .cv .horizontal p {
  font-size: 30px;
  margin-top: 20px;
}
.knowMoreContainer a .cv p {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.knowMoreContainer .contact {
  width: 400px;
  height: 200px;
  background-color: rgba(0, 162, 154, 0.1647058824);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5764705882));
}
.knowMoreContainer .contact .horizontal {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.knowMoreContainer .contact .horizontal svg {
  filter: none;
  margin-top: 15px;
}
.knowMoreContainer .contact .horizontal p {
  font-size: 30px;
  margin-top: 20px;
}
.knowMoreContainer .contact p {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  background: rgb(62, 62, 62);
  width: 100%;
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
}
footer p a {
  margin-left: 5px;
}
footer p a:link, footer p a:visited {
  color: #00a29b;
  text-decoration: none;
}
footer p a:hover {
  color: #01d1bf;
  text-decoration: none;
}
footer p a:active {
  color: #00a29b;
  text-decoration: none;
}

.Rea1 img, .Rea2 img {
  background: #fff;
}

.containerRea1 {
  background: rgba(0, 162, 154, 0.1215686275);
  padding-bottom: 30px;
  margin-top: -30px;
}
.containerRea1 .titleRea1 {
  background: #00A29B;
  color: #fff;
}

.containerRea2 {
  background: rgba(0, 162, 154, 0.1215686275);
  padding-bottom: 30px;
}
.containerRea2 .titleRea2 {
  background: #00A29B;
  color: #fff;
}

.formContainer {
  margin-left: 100px;
  margin-right: 100px;
}
.formContainer input {
  padding: 10px;
}
.formContainer button {
  border: 0;
}
.formContainer button:hover {
  cursor: pointer;
}

.rgpd {
  background: #00A29B;
  width: 100%;
  padding: 5px;
  border-radius: 50px;
  margin-bottom: 30px;
}
.rgpd p {
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.successMessage {
  margin: auto;
  background-color: rgba(176, 255, 176, 0.5);
}

.errorMessage {
  margin: auto;
  background-color: rgba(255, 176, 176, 0.5);
}

.mleg_p {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
}

.h2_mleg {
  margin-top: 50px;
  color: #00a29b;
}

.h3_mleg {
  color: #01d1bf;
}

.co {
  margin-top: 30px;
  text-align: center;
  color: #00a29b;
}

.formAdm {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 100px;
  margin-top: 100px;
}
.formAdm input {
  padding: 10px;
}

.h2_a {
  color: #01d1bf;
  margin-top: 50px;
  margin-left: 10%;
}

.tableA {
  width: 80%;
  margin: auto;
  text-align: center;
}

@media (max-width: 1070px) {
  .title .dev {
    font-family: helvetica_medium;
    font-size: 150px;
    color: rgba(0, 162, 154, 0.5019607843);
    margin-left: 10px;
  }
  .title .web {
    margin-left: 650px;
  }
  .selecHomeRea, .Rea1, .Rea2 {
    display: flex;
    flex-direction: column;
  }
  .selecHomeRea img, .Rea1 img, .Rea2 img {
    border: #000 1px solid;
    margin-top: 40px;
    width: 490px;
    height: 284px;
  }
  .Rea1 img, .Rea2 img {
    background: #fff;
  }
}