*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#introLooped {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.containerStart {
  display: hidden;
}
.containerStart header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerStart header nav {
  display: flex;
  justify-content: space-between;
}
.containerStart header nav ul {
  list-style: none;
}
.containerStart header nav ul li {
  display: inline-block;
  margin: 0 10px 0 10px;
}
.containerStart header nav ul li a:link, .containerStart header nav ul li a:visited {
  color: #00a29b;
  text-decoration: none;
}
.containerStart header nav ul li a:hover {
  color: #00746b;
  text-decoration: none;
}
.containerStart header nav ul li a:active {
  color: #00a29b;
  text-decoration: none;
}
.containerStart .container1 {
  background: rgb(198, 198, 198);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerStart .container1 .imgProfil {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 5px;
}
.containerStart .container1 p {
  text-align: right;
  margin: 5px;
}
.containerStart #carouselExampleIndicators {
  width: 300px;
  height: 300px;
}

.formContainer {
  margin: auto;
}

.successMessage {
  margin: auto;
  background-color: rgba(176, 255, 176, 0.5);
}

.errorMessage {
  margin: auto;
  background-color: rgba(255, 176, 176, 0.5);
}