*,
*::before,
*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#introLooped {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
$link-color: #00a29b;
$link-hover-color: #00746b;
.containerStart{
    display:hidden;
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        nav{
            display: flex;
            justify-content: space-between;
            ul{
                list-style: none;
                li{
                    display:inline-block; // Tentative navbar horizontale
                    margin: 0 10px 0 10px; // Tentative navbar horizontale
                    a{
                        &:link, &:visited{
                            color: #00a29b;
                            text-decoration: none;
                        }
                        &:hover{
                            color: #00746b;
                            text-decoration: none;
                        }
                        &:active{  
                            color: #00a29b;       
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .container1{
        background: rgb(198, 198, 198);
        display:flex;
        justify-content: space-around;
        align-items: center;
        .imgProfil {
            object-fit: cover;
            border-radius: 50%;
            height: 250px;
            width: 250px;
            margin: 5px;
        }
        p{
            text-align: right;
            margin: 5px;
        }
    }
    #carouselExampleIndicators{
        width:300px;
        height:300px;
    }
}

// contact.php

.formContainer{
    margin:auto;
}

// TraitementBdd.php

.successMessage{
    margin:auto;
    background-color: rgba(176, 255, 176, 0.5);
}
.errorMessage{
    margin:auto;
    background-color: rgba(255, 176, 176, 0.5);
}