*,
*::before,
*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html, body { /* Permet de désactiver le scrolling horizontal en dégageant les côtés */
    max-width: 100%;
    overflow-x: hidden;
}
.containerVideo {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(51,51,51);
}
.hidden{
    display:hidden;
}
h1,h2,h3{
    text-align: center;
}
/*
$link-color: #00a29b;
$link-hover-color: #00746b;
*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #81fff928;
    margin-bottom:10px;
    nav{
        display: flex;
        justify-content: space-between;
        ul{
            list-style: none;
            li{
                display:inline-block; // Tentative navbar horizontale
                margin: 0 10px 0 10px; // Tentative navbar horizontale
                a{
                    &:link, &:visited{
                        color: #00a29b;
                        text-decoration: none;
                    }
                    &:hover{
                        color: #00746b;
                        text-decoration: none;
                    }
                    &:active{  
                        color: #00a29b;       
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
    .container1{
        background: rgb(198, 198, 198);
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
        .imgProfil {
            object-fit: cover;
            border-radius: 50%;
            height: 250px;
            width: 250px;
            margin: 5px;
        }
        p{
            text-align: right;
            margin: 5px;
        }
    }
footer{
    background: rgb(62, 62, 62);
    width:100%;
    height:100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color:white;
        a{
            margin-left: 5px;
            &:link, &:visited{
                color: #00a29b;
                text-decoration: none;
            }
            &:hover{
                color: #01d1bf;
                text-decoration: none;
            }
            &:active{  
                color: #00a29b;       
                text-decoration: none;
            }
        }
    }
}

// contact.php

.formContainer{
    margin:auto;
}

// TraitementBdd.php

.successMessage{
    margin:auto;
    background-color: rgba(176, 255, 176, 0.5);
}
.errorMessage{
    margin:auto;
    background-color: rgba(255, 176, 176, 0.5);
}